{% extends 'base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">

    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <h1 style="font-size: 12rem" class="font-black text-blue-900 text-opacity-50">&#x20B1;&#x20B1;</h1>
    </div>
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70">
        <h1 class="font-bold text-4xl my-4">Public Bank</h1>
        <p class="leading-normal mb-4">
            <marquee><font color="red" >Mandatory Profile password change after 365 days introduced for added security.   |   Customers who have installed “ Secure OTP App” on their mobile and completed registration process will now receive Login OTP for Online.com on the app instead of SMS OTP   |   Call us toll free on 1800 1234 and 1800 2100 and get a wide range of services through SBI Contact Centre </font> </marquee>
         <font color="blue" size="60%">EXPLORE THE WORLD OF
PREMIER BANKING
WITH PUBLIC BANK
</font>
        </p>

    </div>
</div>

{% endblock %}